DRY_RUN=true
ALCHEMY_API_KEY=BSHekkDdRZe1ZtXm7u1hd
LLM_API_KEY=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
LLM_BASE_URL=https://openrouter.ai/api/v1
LLM_MODEL_PRIMARY=deepseek/deepseek-chat-v3-0324:free
LLM_MODEL_FALLBACK=qwen/qwen3-235b-a22b:free
KEYSTORE_PATH=./keystore.json
KEYSTORE_PASSPHRASE=your_passphrase_here
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
LOG_LEVEL=INFO
